<main class="main">
  <div>
    <h1>ברוכים הבאים למערכת חברים</h1>
  </div>
  <div class="content">
    <div>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="הוספת חבר">
          <app-member-form operation="add">נא הוסף חבר</app-member-form>
        </mat-tab>
        <mat-tab label="עדכון חבר">
          <app-member-form operation="update"></app-member-form>
        </mat-tab>
        <mat-tab label="מחיקת חבר">
          <app-member-form operation="delete"></app-member-form>
        </mat-tab>
        <mat-tab label="צפייה בטבלת חברים">
          <!-- operation="display" form goes here -->
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
