<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
  <div class="requiredfields">
    <mat-form-field appearance="fill">
      <label for="Id">תעודת זהות*</label>
      <input matInput required formControlName="Id" id="Id" #Id (keydown)="onKeyPress($event, Id, 'N9')"
             (input)="memberForm.controls['Id'].updateValueAndValidity()">
      <div *ngIf="isFieldInvalid('Id')">נא להקיש ספרות בלבד ועד 9 ספרות לתעודת זהות.</div>
      <div *ngIf="operation === 'delete' || operation === 'update'">
        <button mat-raised-button id="searchbyid" (click)="onSearch()">אתר חבר</button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="Name">שם מלא*</label>
      <input matInput id="Name" required formControlName="Name" #name
             (input)="memberForm.controls['Name'].updateValueAndValidity()">
      <div *ngIf="ValidateCheck && isFieldInvalid('Name')">נא להכניס שם מלא</div>
    </mat-form-field>
<!---->
<mat-form-field appearance="fill">
  <label for="DateOfBirth">תאריך לידה*</label>
    <input matInput
      [value]="DateOfBirth.value | date:'yyyy-MM-dd'"
      formControlName="DateOfBirth"
      [matDatepicker]="picker"
      id="DateOfBirth"
      #DateOfBirth
      required
      (keydown)="onKeyPress($event,DateOfBirth, 'D')"
      (input)="memberForm.controls['DateOfBirth'].updateValueAndValidity()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker format="yyyy-MM-dd"></mat-datepicker>
    <div *ngIf="ValidateCheck && isFieldInvalid('DateOfBirth')">נא להכניס תאריך לידה</div>
  </mat-form-field>
<!---->
  </div>
  <div class="contactfields">
    <mat-form-field appearance="fill">
      <label for="Email">כתובת אימייל</label>
      <input matInput required formControlName="Email" id="Email" #Email (keydown)="onKeyPress($event,Email, '@')"
             (input)="memberForm.controls['Email'].updateValueAndValidity()">
      <div *ngIf="ValidateCheck && isFieldInvalid('Email')">נא להכניס אימייל תקין</div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="Phone">טלפון</label>
      <input matInput formControlName="Phone" id="Phone" #Phone (keydown)="onKeyPress($event, Phone, 'N')"
             (input)="memberForm.controls['Phone'].updateValueAndValidity()">
      <div *ngIf="isFieldInvalid('Phone')">נא להקיש מספרים בלבד</div>
    </mat-form-field>
  </div>
  <div class="additionalfields">
    <div>
      <div class="nonrequiredfields">
        <mat-form-field appearance="fill">
          <label for="Gender">מין</label>
          <mat-select id="Gender" formControlName="Gender">
            <mat-option value=""></mat-option>
            <mat-option value="male">זכר</mat-option>
            <mat-option value="female">נקבה</mat-option>
            <mat-option value="other">אחר</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div> 
  </div>
  <div *ngIf="operation === 'add'">
  <button mat-raised-button id="add" [disabled]="!memberForm.valid">הוסף חבר</button>
  </div>
  <div *ngIf="operation === 'update'">
  <button mat-raised-button id="update" [disabled]="!memberForm.valid">עדכן חבר</button>
  </div>
  <div *ngIf="operation === 'delete'">
  <button mat-raised-button id="delete" [disabled]="!memberForm.valid">מחק חבר</button>
</div>
</form>
