<h1 style="background-color:goldenrod">רשימת חברים</h1>
<!--
  <ul>
    <li *ngFor="let member of members">
      ID: {{member.Id}}, 
      Name: {{member.Name}}, 
      DOB: {{member.DateOfBirth}}, 
      Email: {{member.Email}}, 
      Phone: {{member.Phone}}, 
      Gender: {{member.Gender}}
    </li>
  </ul>
  -->
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of getHeaderRow()">
          |{{ header }}|
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td *ngFor="let field of getFieldNames(member)">
          |{{ member[field] }}|
        </td>
      </tr>
    </tbody>
  </table>